.App {
    margin: auto;
    text-align: center;
    background-color: whitesmoke;
    width: 420px;
    font-size: 18px;
}
.App ul li {
    border-radius: 3px;
    border:1px solid lightslategray;
    margin:5px;
    padding:5px;
    list-style-type: none;
    width:100px;
    display: inline;

}

.container {
    margin: 10px;
}

.task {
    border: 1px solid gray;
    width: 400px;
    height: 40px;
}
