.Task {
    border-radius: 5px;
    margin-top:2px;
    border: 1px solid gray;
    width: 400px;
    height: 40px;
}

.review {
    background-color: lightblue;
}
.created {
    background-color: lightgreen;
}